<section class="wrapper bg-soft-primary">
    <div class="container pt-6 pb-20 pt-md-10 pb-md-20 text-center">
        <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
                <div class="post-header">
                    <div class="post-category text-line">
                        {% for category in contentData[index].categories %}
                            <a href="#" class="hover" rel="category">{{ category.category }}</a>
                        {% endfor %}
                    </div>
                    <!-- /.post-category -->
                    <h1 class="display-1 mb-4">{{ contentData[index].title }}</h1>
                    <ul class="post-meta mb-5">
                        <li class="post-date">
                            <i class="uil uil-calendar-alt"></i>
                            <span>{{ contentData[index].publishedOn }}</span>
                        </li>
                        <!-- <li class="post-author">
                                                    <a href="#">
                                                        <i class="uil uil-user"></i>
                                                        <span>By Sandbox</span>
                                                    </a>
                                                </li>
                                                <li class="post-comments">
                                                    <a href="#">
                                                        <i class="uil uil-comment"></i>3<span>
                                                            Comments</span>
                                                    </a>
                                                </li>
                                                <li class="post-likes">
                                                    <a href="#">
                                                        <i class="uil uil-heart-alt"></i>3<span>
                                                            Likes</span>
                                                    </a>
                                                </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wrapper bg-light">
    <div class="container pb-14 pb-md-16">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="blog single mt-n18">
                    <div class="card">
                        <figure class="card-img-top">
                            <img src="{{ contentData[index].thumbnailSrc }}" alt=""></figure>
                            <div class="card-body">
                                <div class="classic-view">
                                    <article class="post">
                                        <div class="post-content mb-5">
                                            <div class="blog-box">
                                                {% include "../dynamic-content/dynamic-content.njk" details:contentData[index].details %}
                                            </div>
                                        </div>
                                        <div class="post-footer d-md-flex flex-md-row justify-content-md-between align-items-center mt-8">
                                            <div>
                                                <ul class="list-unstyled tag-list mb-0">
                                                    {% for hashtag in contentData[index].hashtags %}
                                                        <li>
                                                            <a href="#" class="btn btn-soft-ash btn-sm rounded-pill mb-0">{{ hashtag }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.blog -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>